<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../../public/css/main.css" />
  </head>

  <body>
    <!-- Search -->
    <div class="w-full flex flex-col items-center py-4 pt-12">
      <div class="w-1/3 flex border-b-2 py-2">
        <input
          id="search-input"
          name="search"
          class="text-gray-800 w-full outline-none text-3xl font-extrabold"
          type="text"
        />
        <img
          class="search-btn w-6 object-scale-down cursor-pointer"
          src="./img/search.png"
          alt=""
        />
      </div>
    </div>

    <!-- Products -->
    <div class="flex justify-between gap-12 px-[40px] py-[40px]">
      <div class="w-1/4">
        <div class="flex border-b py-4">
          <img class="w-10 object-scale-down" src="./img/filter.png" alt="" />
          <h1>Filter</h1>
        </div>
        <div class="flex flex-col items-center justify-center border-b py-4">
          <div
            class="w-full flex items-center justify-between cursor-pointer toggle-section"
          >
            <h1 class="text-base font-extrabold">Price</h1>
            <img
              class="w-6 cursor-pointer transition-transform duration-300 ease-in-out"
              src="./img/arrow-down.png"
              alt=""
            />
          </div>
          <div
            class="toggle-content w-full text-xs text-gray-400 flex gap-2 items-center justify-center overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
          >
            <div
              class="w-2/5 relative h-min flex items-center border border-gray-300"
            >
              <h1 class="absolute left-0 w-6 my-auto text-center">₫</h1>
              <input
                name ="price[gte]"
                class="price-filter w-full h-[20px] pl-6 pr-4 p-5 text-right dir-rtl outline-none font-medium"
                type="number"
              />
            </div>
            <h1>to</h1>
            <div
              class="w-2/5 relative h-min flex items-center border border-gray-300"
            >
              <h1 class="absolute left-0 w-6 my-auto text-center">₫</h1>
              <input
                name="price[lte]"
                class="price-filter w-full h-[20px] pl-6 pr-4 p-5 text-right dir-rtl outline-none font-medium"
                type="number"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center border-b py-4">
          <div
            class="w-full flex items-center justify-between cursor-pointer toggle-section"
          >
            <h1 class="text-base font-extrabold">Product type</h1>
            <img
              class="w-6 cursor-pointer transition-transform duration-300 ease-in-out"
              src="./img/arrow-down.png"
              alt=""
            />
          </div>
          <div
            class="toggle-content w-full text-xs text-gray-400 flex flex-col gap-4 items-start overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
          >
            <%if(categories && categories.length >0){%> <%
            categories.forEach(category=>{ %>
            <div
              data-query="category_id=<%= category.category_id %>"
              class="filter check-box flex items-center h-min gap-2 cursor-pointer"
            >
              <div
                style="background-color: #dfdfdf"
                class="w-4 h-4 rounded-sm shadow-[inset_0_0_4px_#CFCFCF]"
              ></div>

              <h1 class="text-gray-600 h-min text-sm font-medium">
                <%= category.category_name%>
              </h1>
            </div>
            <% })}%>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center border-b py-4">
          <div
            class="w-full flex items-center justify-between cursor-pointer toggle-section"
          >
            <h1 class="text-base font-extrabold">Brand</h1>
            <img
              class="w-6 cursor-pointer transition-transform duration-300 ease-in-out"
              src="./img/arrow-down.png"
              alt=""
            />
          </div>
          <div
            class="toggle-content w-full text-xs text-gray-400 flex flex-col gap-4 items-start overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
          >
            <%if(manufacturers && manufacturers.length >0){%> <%
            manufacturers.forEach(manu=>{ %>
            <div
              data-query="manufacturer_id=<%= manu.manufacturer_id %>"
              class="filter check-box flex items-center h-min gap-2 cursor-pointer"
            >
              <div
                style="background-color: #dfdfdf"
                class="w-4 h-4 rounded-sm shadow-[inset_0_0_4px_#CFCFCF]"
              ></div>

              <h1 class="text-gray-600 h-min text-sm font-medium">
                <%= manu.m_name%>
              </h1>
            </div>
            <% })}%>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center border-b py-4">
          <div
            class="w-full flex items-center justify-between cursor-pointer toggle-section"
          >
            <h1 class="text-base font-extrabold">Status</h1>
            <img
              class="w-6 cursor-pointer transition-transform duration-300 ease-in-out"
              src="./img/arrow-down.png"
              alt=""
            />
          </div>
          <div
            class="toggle-content w-full text-xs text-gray-400 flex flex-col gap-4 items-start overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
          >
            <%if(productStatus && productStatus.length >0){%> <%
            productStatus.forEach(status=>{ %>
            <div
              data-query="status_id=<%= status.status_id %>"
              class="filter check-box flex items-center h-min gap-2 cursor-pointer"
            >
              <div
                style="background-color: #dfdfdf"
                class="w-4 h-4 rounded-sm shadow-[inset_0_0_4px_#CFCFCF]"
              ></div>

              <h1 class="text-gray-600 h-min text-sm font-medium">
                <%= status.status_name%>
              </h1>
            </div>
            <% })}%>
          </div>
        </div>
      </div>

      <script src="/js/filter.js"></script>

      <div id="product-list" class="">
        <%- include('../product/productList',{products})%>
      </div>
    </div>

    <!-- Slider Page Icon -->
    <section id="pagination" class="section-p1">
      <%- include('./pagination', {currentPage, totalPage}) %>
    </section>

    <script src="/js/pagination.js"></script>

    <script
      src="https://kit.fontawesome.com/19dfb206c9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
